node_modules
.env

.backup/

INPUT/raw 

.agents/
!.agents/mcp_config.json
skills-lock.json

TODO.md

.backups/

.docs/

.playwright-mcp/

PLAN.md
VIDEO_RECORDING_SCRIPT.md

OUTPUT/_scratch/

**/index.html
.DS_Store
