node_modules
.env

.backup/
OUTPUT/
OUTPUT/

INPUT/raw 

.agents/
skills-lock.json

TODO.md

.claude

.backups/

.docs/

.playwright-mcp/

# Playwright
automation/test-results/
automation/playwright-report/
playwright/.cache/

GIANG-VIEN/

GIANG-VIEN.md

THONG-TIN.md
